body, html {
    height: 100%;
    background-color: black;
}

.bg {
    background-image: url("../images/servers.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    width: 100%;
    background-image: linear-gradient(to right, #555, #ccc);
    overflow: auto;
    position: sticky;
    top: 0px;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 150px;
}

.navbar p {
    float: right;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 150px;
    margin: 0;
}

.navbar p:hover {
    background-color: #242424;
    cursor: pointer;
}

.navbar a:hover {
    background-color: #242424;
}

.active {
    background-color: #707070;
}

@media screen and (max-width: 500px) {
    .navbar a, .navbar p {
        float: none;
        display: block;
        margin: auto;
    }
    .active {
        background-color: transparent;
    }
}