body, html {
    height: 100%;
    background-color: black;
}

.bg {
    background-image: url("../images/servers.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}

.active {
    background-color: #ccc;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}