.menuBox{
    
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 200px;
    margin-bottom: 200px;
}

.menu{
    display: flex;
    border: 10px solid black;
    justify-content: center;
    align-items: center;
}